{% load static  %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>
     <link rel="icon" href="{% static 'forex/Forexaccess_3D.png' %}" type="image/x-icon">
    <!-- Bootstrap core CSS -->
       <link rel="stylesheet" href="{% static 'forex/bootstrap.css' %}">
{#    <link href="{% static 'forex/bootstrap.min.css'%}" rel="stylesheet">#}
        <link href="{% static 'forex/bootstrap.css' %}" rel="stylesheet" id="bootstrap-css">

      <!-- Custom styles for this template -->
    <link href="{% static 'forex/modern-business.css' %}" rel="stylesheet">

  </head>



    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <div class="header">
        <a href="{% url 'index' %}"> <img src="{% static 'forex/logo.png' %}" alt="forexaccesslogo"> </a>
       </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'services' %}">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="{% url 'post' %}">Write Post</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

<br>
<hr>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form action="{% url 'weather' %}" method="POST"  class="form-control" >
                {% csrf_token %}
                <label class="col-form-label">Enter a city name</label>
                {{ form.name }}
                <button class=" btn-default" type="submit">Check</button>

            </form>
        </div>
    </div>

        <div class="row form-row">
            {% for c in r %}
            <div class="col-lg-6">
                <h4 class="card-header">Weather Result</h4>
            <div class="card-body">
                <img src="{{c.icon}}.png" alt="">
                   <p class="card-text">{{ c.city }}</p>
                   <p class="card-text">{{ c.description }}</p>
                   <p class="card-text">{{ c.temperature }}F</p>

            </div>
            </div>
            {% endfor %}
        </div>
</div>
